*{
  box-sizing: border-box;
}
.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(252, 252, 253);
  font-family: 'interregular',sans-serif;
}
.Container{
  display: flex;
  clear: both;
  width:100%;
}
.Sidebar{
  float:left;
  height: 100vh;
}
.Content{
  height: 100vh;
  width: 100%;
  float: right;
  background-color: rgb(252, 252, 253);
  padding: 30px;
  overflow: hidden;
  overflow-y: scroll;
}
.Content h2{
  font-family: 'interbold', sans-serif;
}
@font-face {
  font-family: 'interregular';
  src: url('./assets/font/Inter-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'interbold';
  src: url('./assets/font/Inter-Bold.otf') format('opentype');
}

