.medicine-header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.medicine_button_add {
  height: 42.5px;
  width: 72.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #12B76A;
  border-radius: 6px;
}
.medicine-list-context {
  padding: 20px;
  max-height: 50vh;
  overflow-y: auto;
}

.medicine-parent {
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
}

.nav-search {
  display: flex;
  justify-content: space-between;
  height: 10vh;
}

.medicine-nav-search {
  display: flex;
  align-items: center;
  width: 70%;
  margin-left: 40px;
}

.input-search {
  width: 70%;
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.icon-search {
  margin-right: 10p
}

.medicine-nav-search-button {
  display: flex;
  align-items: center;
  margin-right: 30px;
  width: 20%;
  justify-content: space-between;
}

.nav-search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  margin-left: 7px;
  width: 30%;
  height: 4vh;
}

.nav-search-button1,
.nav-search-button2 {
  margin: 0;
  font-size: 12px;
  width: 30px;
  height: 3vh;
}

.nav-search-button-filter {
  margin-left: 17px;
  width: 60%;
}

.Medicine-tr {
  height: 10vh;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #dee2e6;
}

.table thead th {
  background-color: #f8f9fa;
}
