/* CSS */
/* .background {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: url('https://i.pinimg.com/originals/01/47/bf/0147bf7c99cb4870ee8be0e33acfebc1.gif')
      no-repeat center center fixed;
   background-size: cover;
   z-index: -1;
} */

.background {
   background-image: url("../../assets/background.png");
   background-repeat: no-repeat;
   background-size: cover; 
   background-position: center;
   height: 100vh; 
   display: flex;
}
.Login_container {
   border-radius: 20px;
   width: 30%;
   max-width: 100%;
   max-height: 100%;
   box-sizing: border-box;
   background-color: white;
   height: 50%;
   top:20%;
   left: 60%;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}

.Login_imgcontainer {
   text-align: center;
}

.Login_avatar {
   width: 15%;
}

.Login_greeting {
   margin-top: 10px;
   font-size: 14px;
   color: #555;
}

.Login_innercontainer {
   padding: 16px;
}

.Login_input-container {
   display: flex;
   align-items: center;
   margin: 8px 0;
   width: 90%;
   margin-top: 20px;
}

.Login_input-container_input {
   border-radius: 10px;
}

.Login_icon {
   width: 20px;
   height: 20px;
   margin-right: 10px;
}

input[type='text'],
input[type='password'] {
   width: 100%;
   padding: 12px 20px;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
   background-color: transparent;
   color: black;
}

.button-login {
   background-color: #20c997;
   color: rgb(255, 255, 255);
   height: 50px;
   cursor: pointer;
   width: 100%;
   border-radius: 10px;
   border: none;
}

.button-login:hover {
   opacity: 0.8;
}

.Login_cancelbtn {
   width: auto;
   padding: 10px 18px;
   background-color: transparent;
   color: black;
   border-radius: 15px;
}

/* .Login_psw {
   background: none;
   color: blue; 
   border: none;
   padding: 0;
   font: inherit;
   cursor: pointer;
   text-decoration: underline; 
}

hr {
   width: 80%;
   height: 2px;
   background-color: green;
   margin: 20px 0;
   border: none;
} */

/* @media screen and (max-width: 600px) {
   .Login_container {
      width: 100%;
      padding: 15px;
   }

   .Login_imgcontainer {
      margin: 20px 0 10px 0;
   }

   button,
   .Login_cancelbtn {
      padding: 12px 15px;
      font-size: 16px;
   }

   .Login_psw {
      float: none;
      display: block;
      text-align: center;
      padding-top: 10px;
   }
}
*/
