@font-face {
    font-family: 'interbold';
    src: url('../../assets/font/Inter-Bold.otf') format('opentype');
  }
.Order{
    height: 100%;
}

h2 {
    display: flex;
    font-family: 'interbold';
}
.Order-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px;
    background-color: #fff3c0 ; 
  }
  
  .Order_button_add {
    margin-top:10px;
      height:7vh;
      width:7%;
      background-color:#00bf00;
      color:white;
      border-radius: 15px;
  }
  .Order-list-context {
    padding: 20px;
    max-height: 600px; /* Set this to your desired height */
    overflow-y: auto; /* Adds a vertical scrollbar if the content exceeds the height */
    height:50vh;
  }
  .Order-parent{
    border:2px solid gray;
    margin:5px;
  }
  
  .nav-search{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    height:10vh;
  }
  .Order-nav-search{

    display: flex;
  align-items: center;
  width:70%;
  margin-left:40px;
  
  border:0px;
  }
  .input-search{
    width:70%;
    border:0px;
  }
  .icon-search{
    margin:0px;border:0px;
  }
  .Order-nav-search-button{
    display: flex;
  align-items: center;
  margin-right:30px;
  width:20%;
  
  justify-content: space-between; 
  }
  .nav-search-button{
    display: flex; /* Sử dụng flexbox cho phần tử .nav-search-button */
    justify-content: center; /* Căn nút giữa theo trục ngang */
    align-items: center; 
    border:1px solid gray;
    background-color:gray;
    margin-left:7px;
    width:30%;
    height:4vh;
  }
  .nav-search-button1 {
    margin: 0; /* Đặt margin của nút về 0 */
    padding:00;
    height:20px;
    font-size:12px;
    width:30px;
    height:3vh;
  }
  .nav-search-button2{
    margin: 0; /* Đặt margin của nút về 0 */
    padding:00;
    height:20px;
    font-size:12px;
    width:30px;
    height:3vh;
  }
  .nav-search-button-filter{
    margin-left:17px;
    width:60%;
  }
  .Order-tr{
    height:10vh;
  }
