<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/home/home.css" />
  </head>
  <body>
    <header class="KHheader">
      <div class="KHheadera">
        <h1 class="KHheaderatext">HAPPY WEDDING</h1>
        <img
          src="/assets/logotiecuoi.png"
          class="KHheaderaimg"
          alt="Wedding Logo"
        />
      </div>
    </header>
    <div style="display: flex; flex-direction: column">
      <div class="Home_body" onclick="goToEmployeePage()">
        <div
          id="changeColor"
          onmousemove="changeColor()"
          onmouseout="restoreColor()"
          class="Home_body_div"
        >
          <h1 style="color: white">Quản lí nhân viên</h1>
        </div>
        <button onclick="text()">adasada</button>
      </div>
      <div class="Home_body">
        <div
          id="changeColor2"
          onmousemove="changeColor2()"
          onmouseout="restoreColor2()"
          class="Home_body_div"
        ></div>
        <button onclick="text()">adasada</button>
      </div>
      <div class="Home_body">
        <div
          id="changeColor3"
          onmousemove="changeColor3()"
          onmouseout="restoreColor3()"
          class="Home_body_div"
        ></div>
        <button onclick="text()">adasada</button>
      </div>
    </div>
    <script src="home.js">
     
    </script>
  </body>
</html>
