.delete-popup{
    position: fixed;
    top:0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.delete-popup-inner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 700px;
    height: 100%;
    max-height: 300px;
    background-color: #fff;
    z-index: 113;
    
}
.delete-popup-inner .delete-button-popup{
    position: absolute;
    top: 16px;
    right: 16px;
}