.edit-popup{
    position: fixed;
    top:0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 112;
    overflow: hidden;
}
.edit-popup-inner{
    position: relative;
    padding: 10px;
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 520px;
    background-color: #fff;
    z-index: 10000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
 
}
