*{
    box-sizing: border-box;
}
.Header{
    display: flex;
    height: 100px;
    background-color: rgb(16, 24, 40);
    justify-content: space-between;
}
.Logo{
    font-family: 'interbold';
    color: #ffffff;
    width: 200px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.Userinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 100%;
    justify-content: flex-end;
    margin-right: 30px;
}
#user-avt{
    height: 20px;
    width: 20px;
}
#username{
    color: #ffffff;
    font-size: 15px;
    margin: 0;
}
.img{
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-color: rgb(243, 244, 247);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 10px;
}
@font-face {
    font-family: 'interbold';
    src: url('../assets/font/Inter-Bold.otf') format('opentype');
}
.logo-link{
    text-decoration: none;
    color: inherit;
    font-size: 25px;
    margin-left: 30px;
}